nav {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: black;
    font-weight: bold;
    &:hover {
      color: rgb(0, 0, 0);
    }
  }
}
