// table{
//     width: 50vw;
//     margin: 0 auto;
// }
// #flex{
//     display: flex;
//     justify-content: center;
// }

.container{
    width: 50%;
   background-image: url("../../assets/img/sfondopost.webp");
    background-position: center;

   padding: 20px;

    box-shadow: 2px 2px 2px 2px black;
}

.card-header{
    background-color: rgb(211, 211, 211);
    position: relative;
}
.card-body{
    background-color: rgb(245, 241, 241);
}

.card-footer{
    background-color: rgb(211, 211, 211);
    padding: 20px;

}

.card{
    width: 50vw;
    border: none;
    margin: 0 auto;
    box-shadow: 2px 2px 2px 2px grey;
    opacity: 0.9;
}

i{
    color: black;
    font-size: 20px;
}

.modifica{
    position: absolute;
    top: 20px;
    right: 10px;
    margin-right: 10px;
    background: transparent;
    color: black;
    border: none;
}

.elimina{
    margin-right: 10px;
    background: transparent;
    color: rgb(0, 0, 0);
    border: none;
}

.modifica:hover{
    background-color: rgb(238, 226, 65);
    border-radius: 50px;
    box-shadow: 2px 2px 2px black;
    transform: scale(1.8);
}

.modifica:focus{
    transform: scale(1);
}

.elimina:hover{
    background-color: rgb(246, 6, 6);
    border-radius: 50px;
    box-shadow: 2px 2px 2px black;
    transform: scale(1.8);
}



.logout{
    position: absolute;
    background-color: rgb(248, 6, 6);
    border-radius: 50px;
    right: 50px;
}