.sfondo{
    background-image: url('../../assets/img/piramis.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding-top: 5vh;
    
}