<!-- <p>registra works!</p>
<form action="">
<input type="email" [(ngModel)]="authUser.email" name="email">
<input type="name" [(ngModel)]="authUser.nome" name="nome">
<input type="surname" [(ngModel)]="authUser.cognome" name="cognome">
<input type="password" [(ngModel)]="authUser.password" name="password">
<button (click)="registrati()">Registrati</button>
</form>


  -->
<div class="sfondo">
  <section class="vh-100 bg-image createDiv">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-80">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px">
              <div class="card-body p-5 pippo">
                <h5 class="text-uppercase text-center mb-5">
                  Create an account to Create new posts
                </h5>

                <form class="container pippone h-80">
                  <div class="form-outline mb-4">
                    <input
                      class="form-control form-control-lg"
                      type="name"
                      [(ngModel)]="authUser.nome"
                      name="nome"
                      placeholder="Pippo"
                    />
                    <label class="form-label" for="form3Example1cg"
                      >Your Name</label
                    >
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      class="form-control form-control-lg"
                      type="surname"
                      [(ngModel)]="authUser.cognome"
                      name="cognome"
                      placeholder="Stefani"
                    />
                    <label class="form-label" for="form3Example1cg"
                      >Your Cognome</label
                    >
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      class="form-control form-control-lg"
                      type="email"
                      [(ngModel)]="authUser.email"
                      name="email"
                      placeholder="www.example.com"
                    />
                    <label class="form-label" for="form3Example3cg"
                      >Your Email</label
                    >
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      class="form-control form-control-lg"
                      type="password"
                      [(ngModel)]="authUser.password"
                      name="password"
                      placeholder="password"
                    />
                    <label class="form-label" for="form3Example4cg"
                      >Password</label
                    >
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="form3Example4cdg"
                      class="form-control form-control-lg"
                      placeholder="password"
                    />
                    <label class="form-label" for="form3Example4cdg"
                      >Repeat your password</label
                    >
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      value=""
                      id="form2Example3cg"
                    />
                    <label class="form-check-label" for="form2Example3g">
                      I agree all statements in
                      <a [routerLink]="['/home-post']" class="text-body"
                        ><u>Terms of service</u></a
                      >
                    </label>
                  </div>

                  <div class="d-flex justify-content-center">
                    <button
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                      (click)="registrati()"
                    >
                      Registrati
                    </button>
                  </div>

                  <p class="text-center text-muted mt-5 mb-0">
                    Have already an account?
                    <a [routerLink]="['/login']" class="fw-bold text-body"
                      ><u>Login here</u></a
                    >
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
