@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto"; }

#main {
  display: flex;
  justify-content: space-evenly;
  padding: 3%; }
  #main article {
    flex-basis: 75%; }
  #main aside {
    flex-basis: 25%; }
  #main a {
    font-style: italic;
    text-decoration: none;
    color: orange; }
  #main button {
    border: 2px outset grey;
    color: white;
    background-color: orange;
    padding: 10px; }

header {
  border-color: #3f3fe2;
  height: 50px;
  border-radius: 15px;
  padding: 4px;
  border: 3px ridge white solid; }
  header ul li {
    display: inline block;
    margin-right: 10px; }
    header ul li a {
      font-style: italic;
      text-decoration: none; }

footer {
  background-color: #7214a1;
  height: 70px; }
