.blocco{
    width: 50px;
    height: 50px;
    background-color: red;
   
}

.float-section .blocco{
    float: left;

}

.clearfix{
    clear: both;
    visibility: hidden;

}

.inline-block-section{
    text-align: right;

}

.inline-block-section .blocco{
    display: inline-block;
}

.float-left-img{
    float: left;   
    padding-left: 15px;
    padding-bottom: 15px;

    


}