/* IMPOSTAZIONI GENERALI */

.buttonstyle{
    background:linear-gradient(90deg, #6cc1e2 0, #392f7a);
    padding: 0.5rem 0.7rem;
    border: 1px none;
    border-radius: 3.5%;
    overflow:hidden;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    
   }

.bottone{
   
    background:linear-gradient(90deg, #6cc1e2 0, #392f7a);
    padding: 0.5rem 0.7rem;
    border: 1px none;
    border-radius: 3.5%;
    overflow:hidden;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  80% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
  
 a{ 
    text-decoration: none;
  
    

 }   


nav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
   }

.lni{
    font-size: 35px;
    color:#e42424;
}


body {
    text-align:center;
    color:black;
    font-family:'Fira sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
}

h1{font-size:2.7rem;
  line-height: 1;
  
}
h2{font-size:1,9rem;
    margin-top:10px;
    margin-bottom:10px;
    line-height: 1.1;}
h3{font-size:1.5rem;}
h4{font-size:1rem;}
p{  
   padding-left: 20px;
   padding-right: 15px;
   
    text-align: center;
    font-size: 1.1rem;
    margin:0,1rem;}


footer .buttonstyle{
    
    
    display:inline-block;
}



/* HEADER */

  
  

.logo{
    justify-content: flex-start;
    padding-top:20px;
    padding-left: 10px;
   
    
}
.lista{
    display: inline-block;
    position: left;
  
}


header{
   
    background-color: white;
    box-shadow: -5px -5px 10px 2px #d3d3d3;
    -webkit-box-shadow: -5px -5px 10px 2px #d3d3d3;
    -moz-box-shadow: -5px -5px 10px 2px #d3d3d3;
    
}  
   
   
div.presentazione{
    height:360px;
  
    box-shadow: #d3d3d3;
}
/* cambiare nella media queri */
.presentazione h1{
    font-size: 2.5rem;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    text-align:start;
    text-shadow: 2px 2px 2px black;
}

.presentazione p{
   width: 300px;
   width: 100%;
    margin-top: 1px;
    text-align:start;
    font-size: 0.8rem;
    text-shadow: 2px 2px 2px black;
}

.presentazione{
    width:100%;
    
    color: white;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;

  
   
}

.button{
    text-align: start;
    padding-left: 20px;
}



#menu{
    background-color: white;
    height: 0;
    overflow:hidden;
    transition: height 0.5s;
    
}
#apri-menu{
    display: none;
}
input:checked + #menu{
    height: 220px;
}


/* MAIN */


.domande{
    background-color: #0c0633;
    color:white;
    text-align: center;
    padding:5vh;
    margin-top:3rem;
    margin-bottom:3rem;
}

.top{
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 20;
    padding-right: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

}


.top-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:80%;
    height:100%;
    gap: 10px;

    
}

.bottom.notebook{
   display: flex;
   justify-content: space-between;

}
.top-developer{

    margin-top: 10px;
    padding-bottom:10px;
    padding-left: 20px;
    padding-right: 20px;
}

.top-developer h1{
    font-size: 1.7rem;
}

.mid{
    background-color: #0c0633;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;

}

.trefrasi{
   padding-top: 20px;
    margin-bottom: 50px;
}

.notebook{

    padding-top: 50px;
    padding-bottom: 50px;
   
}

/* FOOTER */

footer{
    background-color: rgb(238,238,238);
    padding-top: 10px;

}

footer{
    display: flex;
    flex-direction: column;
   justify-content: space-around;


}


address{
    margin-top:0;
    text-align: center;
}
address p{
    font-size: 0.7rem
}



/* RESPONSIVE */

@media screen and (min-width: 768px) {
    .top-flex{

        display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       align-items: baseline;
      
       }  
        
    
    .bottom{     
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    footer{
        display: flex;
        flex-direction:row;
       justify-content: space-around;
   
    
    }
    p{  
        padding-left: 20px;
        padding-right: 15px;
        
         text-align: center;
         font-size: 1.2rem;
         margin:0,1rem;}

    .presentazione p{
            width: 300px;
            width: 100%;
             margin-top: 1px;
             text-align:start;
             font-size: 1.1rem;
             text-shadow: 2px 2px 2px black;
           
         }
      
 
        header{
            width: 100%;
            
           
        }
        div.presentazione{
            height:350px;
            display: flex;
            justify-content: space-between;
            padding-top: 70px 
         
            
        
      

        
        }
        nav{
            display: flex;
            align-items: start;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: flex-end;
            justify-content: space-around;
        }
        
        address p{
            font-size: 1rem;
        } 
         

    
        

   
