/*general styles*/
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}

a{
    color: red;
    text-decoration: none
}

a:hover{
    color: blue;

}


/*header*/
#header{
    background-color: blue;
    height: 100px;
}
#main-nav li{
    display: inline-block;
    background-color: #fff;
    margin-left: -4px;
    padding: 5px;
    text-align: center;
    width: calc(100% / 3 - 10px)


}
#header li:hover{
    background-color: grey;
    
}


#header li:hover a{
    color: yellow;
}



/*
https://picsum.photos/200/200
prima section
*/


#prima-section{
    padding: 50px 0;
    background-image: url(../img/download.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    height: 50vh;
}
