<nz-layout class="dashboard-layout">

  <nz-sider>

    <ul nz-menu nzTheme="dark">
      <li nz-menu-item><a [routerLink]="['/']">Home</a></li>
      <li nz-menu-item><a [routerLink]="['/profilo']">Profilo</a></li>
      <li nz-menu-item><a [routerLink]="['/info']">Info</a></li>
    </ul>
<hr>
    <ul nz-menu nzTheme="dark">
      <li nz-menu-item><a [routerLink]="['/']">Login</a></li>
      <li nz-menu-item><a [routerLink]="['/register']">register</a></li>
    </ul>
    <button (click)="logout()">Logout</button>

  </nz-sider>
  <nz-layout>
      <nz-content>
          <router-outlet></router-outlet>
      </nz-content>
  </nz-layout>

</nz-layout>
